.agendamento{
  width: 100%;
  height: 135px;
  background-color: #4C6E69;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  margin: 0;
}

.txt_agend{
  display: flex;
  height: 45px;
  padding-left: 38%;
  padding-top: -12px;
}

.txt_agend p{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.wrapper {
    width: 1000px;
    height: 550px;
    background: #141414;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    display: inline-block;
    margin-top: 5%;
    margin-left: 1%;

  }

  .wrapper .topo-calendario{
    display: flex;
    align-items: center;
    padding: 25px 35px 15px 25px;
    justify-content: space-between;
  }

  .topo-calendario {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .topo-calendario .icons{
    display: flex;
    padding-top: 15px;
  }

  .topo-calendario .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }

  .icons span:last-child{
    margin-right: -10px;
  }

  .topo-calendario .icons span:hover{
    background: #58CCAF;
  }

  .topo-calendario .data-atual{
    font-size: 1.45rem;
    font-weight: 500;
    color: #58CCAF;
  }

  .calendario{
    padding: 20px;
  }
  
  .calendario ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  .calendarrio .days{
    margin-bottom: 20px;
  }

  .calendario li{
    color: #fff;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }

  .calendario .meses li{
    font-weight: 500;
    cursor: default;
  }

  .calendario .dias li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }

 .dias {
  padding: 0;
 }

 .meses {
  padding: 0;
 }

  .dias li.inactive{
    color: #434343;
  }
  
  .dias li.active{
    color: #fff;
  }

  .dias li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .dias li.active::before{
    background: #4C6E69;
  }

  .dias li:not(.active):hover::before{
    background: #58CCAF;
  }


.box-horarios {
  width: 300px;
  height: 550px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 25px;
  margin-left: 1%;
  display: inline-block;
  position: absolute;
  margin-top: 5%;
}

.topo-horarios {
  padding-top: 20px;
  text-align: center;
}

.topo-horarios p {
  font-size: 1.45rem;
  font-weight: 500;
  color: #58CCAF;
}

.horas {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.horas .treedigt {
  padding: 10px 25px 10px 20px;
}

.horas div {
  padding: 10px 20px 10px 20px;
  text-align: center;
  flex-shrink: 0;
  display: inline-block;
  border: 2px solid #2D2D2D;
  border-radius: 25px;
  margin: 15px 20px 15px 30px;
}

.horas div:hover {
  border: 2px solid #58CCAF;
  border-radius: 25px;
}

.formulario{
  width: 100%;
  height: 135px;
  background-color: #4C6E69;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  margin: 0;
  margin-top: 5%;
}

.txt_form{
  display: flex;
  height: 45px;
  padding-left: 400px;
  padding-top: -12px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  }


.div_form{
  width: 100%;
  height: 900px;
  background-color: #D8D8D8;
  margin-top: 5%;
  display: flex;
  padding-top: 100px;
}

.form{
  width: 784px;
  height: 800px;
  border-radius: 25px;
  background-color: #141414;
  margin-left: 20%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

label{
  display: block;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 50px;
  padding-top: 45px;
}

input{
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 5px;
  background: #FFF;
  width: 306px;
  height: 30px;
  flex-shrink: 0;
}


.box-form{
  margin-left: 5%;

}

.box-form div{
  border-radius: 15px;
  background: linear-gradient(90deg, #4C6E69 0%, #58CCAF 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 100;
  line-height: normal;
  padding: 5px;

}

#botao-agendamento{
  font-weight: 800;
  margin: 0;
  color: white;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  
}

footer {
  width: 100%;
  height: 340px;
  background-color: #141414;
  display: flex;
  margin-top: 5%;
}

.div_form .form div #txt_agendamento{
  color: #D8D8D8;
  padding-left: 50px;
}

.txt_contato{
  width: 20%;
  margin-top: 5%;
}

.foot1 h1{
  margin-bottom: 0;
  padding-left: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foot1 p{
  margin-top: 0;
  padding-left: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foot2 h1{
  margin-bottom: 0;
  padding-top: 28px;
  padding-left: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foot2 p{
  margin-top: 0;
  padding-left: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -10px;

}


.centro_footer{
  width: 60%;
  text-align: center;
}

.main_footer{
  width: 100%;
}

.menu_footer{
  width: 100%; 

}

.menu_footer ul{
  margin: 0;
  list-style: none;
  font-size: 18px;
  text-align: center;
}

.menu_footer ul li{
  display: inline;
}

.menu_footer ul li a:hover{
  font-weight: bolder;
}

.main_footer ul li a{
  color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
text-decoration: none;
display: inline-block;
}

.redes_sociais{
  margin-top: 4%;
}

.footer_img img{
  width: 25%;
  height: 25%;
  flex-shrink: 0;
}

.txt_horario{
  width: 20%;
  margin-top: 5%;
}

.foot3 h1{
  margin-bottom: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foot3 p{
  margin-top: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
