.agendamento{
  width: 100%;
  height: 135px;
  background-color: #4C6E69;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  margin: 0;
}

.txt_agend{
  display: flex;
  height: 45px;
  padding-left: 38%;
  padding-top: -12px;
}

.txt_agend p{
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.wrapper {
    width: 1000px;
    height: 550px;
    background: #141414;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    display: inline-block;
    margin: 70px;

  }

  .wrapper .topo-calendario{
    display: flex;
    align-items: center;
    padding: 25px 35px 15px 25px;
    justify-content: space-between;
  }

  .topo-calendario {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .topo-calendario .icons{
    display: flex;
    padding-top: 15px;
  }

  .topo-calendario .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }

  .icons span:last-child{
    margin-right: -10px;
  }

  .topo-calendario .icons span:hover{
    background: #58CCAF;
  }

  .topo-calendario .data-atual{
    font-size: 1.45rem;
    font-weight: 500;
    color: #58CCAF;
  }

  .calendario{
    padding: 20px;
  }
  
  .calendario ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }

  .calendarrio .days{
    margin-bottom: 20px;
  }

  .calendario li{
    color: #fff;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }

  .calendario .meses li{
    font-weight: 500;
    cursor: default;
  }

  .calendario .dias li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }

 .dias {
  padding: 0;
 }

 .meses {
  padding: 0;
 }

  .dias li.inactive{
    color: #434343;
  }
  
  .dias li.active{
    color: #fff;
  }

  .dias li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .dias li.active::before{
    background: #4C6E69;
  }

  .dias li:not(.active):hover::before{
    background: #58CCAF;
  }


.box-horarios {
  width: 300px;
  height: 550px;
  background-color: hsl(0, 0%, 8%);
  border-radius: 25px;
  margin-left: 100px;
  display: inline-block;
  position: absolute;
  margin: 70px;
}

.topo-horarios {
  padding-top: 20px;
  text-align: center;
}

.topo-horarios p {
  font-size: 1.45rem;
  font-weight: 500;
  color: #58CCAF;
}

.horas {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.horas .treedigt {
  padding: 10px 25px 10px 20px;
}

.horas div {
  padding: 10px 20px 10px 20px;
  text-align: center;
  flex-shrink: 0;
  display: inline-block;
  border: 2px solid #2D2D2D;
  border-radius: 25px;
  margin: 15px 20px 15px 30px;
}

.horas div:hover {
  border: 2px solid #58CCAF;
  border-radius: 25px;
}

