@keyframes animacao {
    0% { margin-left: 0; }
    30% { margin-left: 0; }
    35% { margin-left: -100%; }
    60% { margin-left: -100%; }
    65% { margin-left: -200%; }
    90% { margin-left: -200%; }
    95% { margin-left: -300%; }
    100% { margin-left: -300%; }
}