footer {
    width: 100%;
    height: 340px;
    background-color: #141414;
    display: flex;
}

.txt_contato{
width: 20%;
align-items: center;
margin-top: 5%;
}

.foot1{
    padding-left: 50px;
    padding-top: px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot2{
    padding-top: 28px;
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.centro_footer{
    width: 60%;
    text-align: center;
}


.logo_footer img{
width: 25%;
height: 25%;
flex-shrink: 0;

}

.main_footer{
 width: 100%;
}


.menu_footer ul{
    margin: 0;
    list-style: none;
    font-size: 18px;
    
}

.menu_footer ul li{
    display: inline;
}

.menu_footer ul li a:hover{
    font-weight: bolder;
}

.main_footer ul li a{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
text-decoration: none;
display: inline-block;
}

.redes_sociais{
    margin-top: 2%;
}

.txt_horario{
   width: 20%;
   margin-top: 5%;
}

.foot3{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
