
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}


.header{
    font-family: 'Inter', sans-serif;
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.logo-principal img{
    padding: 25px 30px;
    width: 100px;
}

.main{
    width: 100%;
}

#menu {
    width: 100%; 
    height: 100%;
    background-color: white;

}

#menu ul{

    margin: 0;
    list-style: none;
    font-size: 18px;
    text-align: center;
}


#menu ul li{
    display: inline;
}

#menu ul li a:hover{
    font-weight: bolder;
}

#menu ul li a{
    color: black;
    padding: 40px;
    text-decoration: none;
    display: inline-block;
}

.box-agendamento{
    padding: 32px 20px;

}

.box-agendamento div{
    border-radius: 15px;
    background: linear-gradient(90deg, #4C6E69 0%, #58CCAF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    padding: 5px;

}

.box-agendamento div a{
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
    color: white;

}

.carrosel { 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.espaço1 {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
}

.atendimento{
    width: 100%;
    height: 367px;
    background: #D9D9D9;
    display: flex;
    
}

.atendimento img{
    width: 640px;
    padding-left: 104px;
    margin-top: -28px;
    margin-bottom: -28px;
}

.txt1 {
    padding-left: 114px;
    padding-top: 102px;
}

.atendimento h1{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.atendimento p{
    padding-top: 16px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
   
}

.box_saibamais{
    padding-top: 10px;

}

.box_saibamais div{
    border-radius: 15px;
    background: linear-gradient(90deg, #4C6E69 0%, #58CCAF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    padding: 5px;
    width: 120px;
    
}

.box_saibamais div a{
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
    color: white;
}




