
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
}


.header{
    font-family: 'Inter', sans-serif;
    display: flex;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.logo-principal img{
    padding: 25px 30px;
    width: 100px;
}

.main{
    width: 100%;
}

#menu {
    width: 100%; 
    height: 100%;
    background-color: white;

}

#menu ul{

    margin: 0;
    list-style: none;
    font-size: 18px;
    text-align: center;
}


#menu ul li{
    display: inline;
}

#menu ul li a:hover{
    font-weight: bolder;
}

#menu ul li a{
    color: black;
    padding: 40px;
    text-decoration: none;
    display: inline-block;
}

.box-agendamento{
    padding: 32px 20px;

}

.box-agendamento div{
    border-radius: 15px;
    background: linear-gradient(90deg, #4C6E69 0%, #58CCAF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    padding: 5px;

}

.box-agendamento div a{
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
    color: white;

}

.carrosel { 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.espaco1 {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
}

.atendimento{
    width: 100%;
    height: 367px;
    background: #D9D9D9;
    display: flex;
    
}

.atendimento img{
    width: 640px;
    padding-left: 104px;
    margin-top: -28px;
    margin-bottom: -28px;
}

.txt1 {
    padding-left: 114px;
    padding-top: 102px;
}

.atendimento h1{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.atendimento p{
    padding-top: 16px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
   
}

.box_saibamais{
    padding-top: 10px;

}

.box_saibamais div{
    border-radius: 15px;
    background: linear-gradient(90deg, #4C6E69 0%, #58CCAF 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
    padding: 5px;
    width: 120px;
    
}

.box_saibamais div a{
    text-decoration: none;
    padding: 0 5px;
    font-weight: 600;
    color: white;
}

.txt2 {
    padding-left: 110px;
    padding-top: 180px;
}

.tratamento {
    width: 100%;
    height: 566px;
    background: #56857D;
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
}

.tratamento img {
    width: 450px;
    height: 450px;
    padding-left: 450px;
    padding-top: 60px;

}

.tratamento h1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tratamento p{
    padding-top: 16px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;
}

.localizacao-agendamento {
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 1630px;
    font-family: Inter;
    display: flex;
    color: #FFF;

}

.localizacao {
    background-color: #4C6E69;
    width: 550px;
    height: 550px;
    margin-top: 150px;
    margin-left: 200px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.localizacao h1 {
    font-size: 24px;
    padding: 46px 0 16px 46px;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.localizacao p {
    padding-left: 46px;

}

.localizacao .box_saibamais {
    padding-left: 46px;
    padding-top: 20px;
}

.agendamento {
    background-color: #539C8A;
    width: 550px;
    height: 550px;
    margin-top: 150px;
    margin-left: 200px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.agendamento h1 {
    font-size: 24px;
    padding-top: 190px;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.agendamento p {
    padding-top: 16px;
}

.agendamento .box-agendamento {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 185px;
}

.mapa {
    padding-top: 35px;
    padding-left: 70px;
}