.contato {
    width: 100%;
    height: 135px;
    background-color: #4C6E69;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
}

.txt_serv {
    display: flex;
    height: 45px;
    padding-left: 38%;
    padding-top: -12px;
}

.txt_serv p{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.corpo{
    width: 100%;
height: 99px;
flex-shrink: 0;
border-radius: 15px;
background-color: #141414;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
}

.topo{
width: 60%;
height: 567px;
flex-shrink: 0;
border-radius: 15px;
background: #56857D;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 20%;
margin-top: 5%;
}

iframe{
    width: 60%px;
height: 404px;
flex-shrink: 0;
margin-left: 14%;
margin-top: 4%;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.corpo p{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 22%;
}


footer {
    width: 100%;
    height: 340px;
    background-color: #141414;
    display: flex;
    margin-top: 5%;
}

.txt_contato{
    width: 20%;
    margin-top: 5%;
}


.foot1 h1{
    margin-bottom: 0;
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot1 p{
    margin-top: 0;
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot2 h1{
    margin-bottom: 0;
    padding-top: 28px;
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot2 p{
    margin-top: 0;
    padding-left: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: -10px;

}


.centro_footer{
    width: 60%;
    text-align: center;
}

.main_footer{
    width: 100%;
}

.menu_footer{
    width: 100%; 

}

.menu_footer ul{
    margin: 0;
    list-style: none;
    font-size: 18px;
    text-align: center;
}

.menu_footer ul li{
    display: inline;
}

.menu_footer ul li a:hover{
    font-weight: bolder;
}

.main_footer ul li a{
    color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
text-decoration: none;
display: inline-block;
}

.redes_sociais{
    margin-top: 4%;
}

.footer_img img{
    width: 25%;
    height: 25%;
    flex-shrink: 0;
}

.txt_horario{
    width: 20%;
    margin-top: 5%;
}

.foot3 h1{
    margin-bottom: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot3 p{
    margin-top: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
